.Conten-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.Conten-video {
  width: 200%;
  max-width: 500px;
  margin-bottom: 20px;
}

.Conten-text {
  font-size: 1.2rem; 
  line-height: 1.5;
  color: #333; 
  text-align: center;
}
