.leaflet-container{
display: flexbox;
width: 700px;
height: 500px;
padding: auto;
margin-top: 15px;
margin-left: 15px;
margin-bottom: 15px;
justify-content: flex-start;
align-items: flex-start;
}



.map-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    
    height: 500px;;
  }
  

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
   /*  flex-direction: column;  */
    gap: 22px;
  }
  
  .button-group button {
    border: 2px solid #000;
    border-radius: 15px; 
    padding: 8px; 
    background-color: #e35223;
    cursor: pointer; 
    
  }
